@using OnlineShopDAW.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" style="margin-top: 2rem;margin-bottom: 2rem;">
                <div class="card-body">
                    <h3 class="text-center text-light card-title font-weight-bold">Login</h3>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email,
                           new { @class = "form-control", type = "email", autocomplete = "email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.TextBoxFor(m => m.Password,
                           new { @class = "form-control", type = "password", autocomplete = "current-password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between align-items-center mt-4">
                            <button class="btn btn-primary font-weight-bold" type="submit">
                                Login
                            </button>
                            @Html.ActionLink("Go to Register", "Register", "Account")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
