@model OnlineShopDAW.Models.ApplicationUser

@{
    /**/

    ViewBag.Title = "Editare rol utilizator";
}


<div class="container">
    <ol class="breadcrumb" style="display:flex; justify-content:center">
        <li><h3>@ViewBag.Title</h3></li>
    </ol>

    <div class="container" style="display:flex; justify-content:center">
        @using (Html.BeginForm(actionName: "Edit", controllerName: "Users", routeValues: new { id = @Model.Id }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Put)

            <br />

            <i class="fa fa-user"></i>
            @Html.Label("UserName", "Nume utilizator", new { @class = "" })

            <br />

            @Html.EditorFor(m => m.UserName)

            <br /><br />

            <i class="fa fa-envelope"></i>
            @Html.Label("Email", "Email utilizator", new { @class = "" })

            <br />

            @Html.EditorFor(m => m.Email)

            <br /><br />

            <i class="fa fa-th-list"></i>
            <label>Selectati rolul</label>
            @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.userRole), null, new { @class = "form-control" })

            <br />

            <button class="btn btn-sm btn-success" type="submit">Modifica datele utilizatorului</button>


        }
    </div>
</div>